<div class="flex flex-col items-center justify-center w-full">
  <h2 class="text-3xl text-green-500">This is the about ruby on Rails!</h2>
  <ul class="text-orange-500 text-xl">
    <li>Ruby</li>
    <li>Rails</li>
    <li>Coding</li>
    <li>Daily</li>
  </ul>
</div>